__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/

.env

.Python
build/
site/
dist/
.eggs/
*.egg-info/

.pytest_cache/
.coverage*
htmlcov/
.tox/

.mypy_cache/
.pyre/
.pytype/

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

.cache/
node_modules/
